---
export const prerender = false;
import Layout from "../../layouts/Layout.astro";
const { id } = Astro.params;
---
<Layout>
    <main class="mx-auto max-w-3xl p-6">
        <h1 class="text-2xl font-bold mb-4">食譜詳情</h1>
        <p class="text-gray-600">目前查看的食譜 ID：{id}</p>
    </main>
</Layout>


