---
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <main class="mx-auto max-w-3xl p-6">
        <h1 class="text-2xl font-bold mb-4">心得列表</h1>
        <p class="text-gray-600">此頁將顯示使用者所有心得與評分。</p>
    </main>
</Layout>


