---
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <main class="mx-auto max-w-3xl p-6">
        <h1 class="text-2xl font-bold mb-4">個人化設定</h1>
        <p class="text-gray-600">此頁將提供頭像上傳與暱稱設定。</p>
    </main>
</Layout>


